:root {
  --primary: #282c34;
  --secondary-2: #5353c6;
  --secondary-3: #5353c6;
  --secondary-1: #5353c6;
  --neutral-2: #d7d3cb;
  --neutral-1: white;
  --danger: red;
  --warning: orange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: white;
    --secondary-3: white;
    --secondary-2: #5cdb95;
    --secondary-1: #5cdb95;
    --neutral-2: #111111;
    /* #05386b; */
    --neutral-1: black;
  }
}

:root {
  --small-bottom-border-base: inset 2px -2px 0px;
  --large-bottom-border-base: inset 4px -4px 0px;
  --x-large-bottom-border-base: inset 0px -6px 0px;
  --small-border-base: inset 0px 0px 0px 2px;
  --small-bottom-border: var(--small-bottom-border-base) var(--primary);
  --large-bottom-border: var(--large-bottom-border-base) var(--primary);
  --small-border: var(--small-border-base) var(--primary);

  --medium-border: 2px solid var(--primary);

  --base-font: "Atkinson Hyperlegible Mono", Courier;
  --footer-height: 64px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 128px;

  font-family: var(--base-font);
  font-size: x-large;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--neutral-2);
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

section {
  margin: 1.5em;
}

header>a {
  font-size: 2em;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2,
legend {
  font-size: 1.25em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

a:any-link {
  color: inherit;
  font-weight: bold;
}

a:hover {
  color: var(--secondary-3);
}

pre,
header {
  background-color: var(--neutral-2);
}

header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: var(--small-bottom-border);
}

main {
  padding: 2rem;
}

form,
fieldset {
  margin: auto;
  width: min(100%, 96em);
}

form,
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

fieldset>legend {
  margin-bottom: 2rem;
}

fieldset.inline-field {
  flex-direction: row;
}

fieldset.inline-field>* {
  flex-grow: 1;
}


table {
  table-layout: fixed;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

thead {
  text-align: left;
  box-shadow: inset 0 -2px 0;
}

tbody {
  background-color: var(--neutral-2);
  overflow-x: hidden;
}

tr {
  overflow-x: hidden;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th {
  letter-spacing: 2px;
  font-variant: small-caps;
}

td,
th {
  padding: 1.5rem 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

::selection {
  background: var(--secondary-1);
  color: var(--primary);
}

ul {
  list-style-type: none;
  padding: 0;
}

::-webkit-progress-inner-value,
::-webkit-progress-inner-element {
  background-color: transparent;
}

::-webkit-progress-bar,
::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

progress {
  height: 1rem;
  padding: 2px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--primary);
  background-color: transparent;
}

progress::-moz-progress-bar {
  background-color: var(--primary);
  color: var(--primary);
}

progress::-moz-range-progress {
  background-color: var(--secondary-1);
  color: var(--primary);
}

progress::-webkit-progress-value {
  background-color: var(--primary);
  color: var(--primary);
}


label {
  color: var(--secondary-3);
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label:has(>input:focus),
label:has(>textarea:focus),
label:has(>select:focus),
label:has(>input:hover),
label:has(>textarea:hover),
label:has(>select:hover),
label:has(>input[type="radio"]:checked),
label:has(>input[type="checkbox"]:checked) {
  font-weight: bold;
}

label:has(>input:disabled),
label:has(>textarea:disabled),
label:has(>select:disabled),
label:has(>input[type="radio"]:disabled),
label:has(>input[type="checkbox"]:disabled) {
  font-weight: unset;
}

input,
textarea,
select,
button,
input[type="file"]::file-selector-button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  box-shadow: var(--small-bottom-border);

  background: transparent;
  color: var(--primary);
}

textarea {
  font-family: "Inter";
  resize: none;
}

button,
input[type="file"]::file-selector-button {
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--secondary-2);
}

input[type="file"]::file-selector-button {
  margin-right: 1rem;
}

button:active,
input[type="file"]::file-selector-button:active {
  background: var(--secondary-1);
}

button:disabled,
input[type="file"]:disabled::file-selector-button {
  cursor: unset;
  background: transparent;
  box-shadow: none;
}

input:user-invalid {
  box-shadow: var(--small-bottom-border-base) var(--danger);
}

label:has(>input:user-invalid) {
  color: var(--danger);
}

label:has(>input:disabled) {
  color: var(--primary);
}

label:has(>input:required)>span::before {
  content: "*";
}

form:invalid>button:last-of-type {
  background-color: var(--danger);
}

input:focus,
textarea:focus,
select:focus,
button:focus,
input[type="file"]::file-selector-button:focus {
  outline: none;
  box-shadow: var(--large-bottom-border);
  background-color: var(--neutral-1);
}

input:focus:user-invalid,
input:hover:user-invalid {
  box-shadow: var(--large-bottom-border-base) var(--danger);
}

input:hover,
textarea:hover,
select:hover,
button:hover,
input[type="file"]::file-selector-button:hover {
  box-shadow: var(--large-bottom-border);
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled,
input[type="file"]::file-selector-button:disabled {
  background: none;
  color: var(--primary);
  box-shadow: var(--small-bottom-border) !important;
}

option {
  font-family: "Inter", sans-serif;
}

option:checked {
  color: var(--primary);
  font-weight: bold;
  background: var(--secondary-2) linear-gradient(0deg, var(--secondary-2) 0%, var(--secondary-2) 100%);
}

select:focus option:checked {
  background: var(--secondary-1) linear-gradient(0deg, var(--secondary-1) 0%, var(--secondary-1) 100%);
}

option:active {
  background-color: var(--secondary-1);
}

option:hover {
  background-color: var(--secondary-2);
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  background-color: var(--neutral-2);

  font: inherit;
  color: var(--primary);
  width: 1rem;
  height: 1rem;

  box-shadow: inset 0px 0px 0px 2px var(--primary);

  display: grid;
  place-content: center;
}

input[type="radio"] {}

input[type="radio"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);

  box-shadow: inset 1em 1em var(--primary);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);

  box-shadow: inset 1em 1em var(--primary);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="range"] {
  appearance: none;
  background: transparent;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--primary);
  height: 1em;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  width: 100%;
  box-shadow: inset 0 0 0 2px var(--primary);
  height: 1em;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  border: none;
  background-color: var(--neutral-2);
  box-shadow: inset 0 0 0 2px var(--primary);
  translate: 0em -0.1125em;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  border: none;
  background-color: var(--neutral-2);
  box-shadow: inset 0 0 0 2px var(--primary);
}

input[type="range"]::-moz-range-progress {
  background: var(--secondary-1);
  height: 0.5em;
  translate: 0.25em;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: inset 0 0 0 4px var(--primary);
}

input[type="range"]:focus::-moz-range-progress,
input[type="range"]:hover::-moz-range-progress {
  background: var(--primary);
}

input[type="range"]:focus::-moz-range-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: white;
}

.add-or-select>.trigger+* {
  display: none;
}

.add-or-select>.trigger:has(input:checked)+* {
  display: flex;
}

.add-or-select>:nth-child(3) {
  order: 99;
}

.multi-select-and-new>fieldset {
  flex-basis: 40%;
}

.multi-select-and-new>label {
  flex-basis: 40%;
}

.multi-select-and-new select {
  height: 1000%;
}


#editor-container {
  display: flex;
  flex-direction: column;
}

.ql-toolbar {
  border: none;
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 8px;
}

.ql-container {
  font-variant: none;
}

.ql-formats {
  display: flex;
  gap: 4px;
}

.ql-container {
  border: none;
  box-shadow: var(--small-bottom-border);
  background: transparent;
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-size: 1em !important;
  min-height: 300px;
}

.ql-container:focus-within {
  box-shadow: var(--large-bottom-border);
  background-color: var(--neutral-1);
}

.ql-container:hover {
  box-shadow: var(--large-bottom-border);
}

/* Editor content area */
.ql-editor {
  padding: 0.5rem;
  color: var(--primary);
  min-height: 300px;
}

.ql-editor.ql-blank::before {
  color: var(--primary);
  opacity: 0.5;
  font-style: normal;
}

/* Toolbar buttons */
.ql-stroke {
  stroke: var(--primary);
}

.ql-fill {
  fill: var(--primary);
}

.ql-picker-label {
  color: var(--primary);
  border: none;
}

.ql-picker-options {
  background-color: var(--neutral-2);
  border: none;
  box-shadow: var(--small-border);
}

.ql-picker-item {
  color: var(--primary);
}

.ql-picker-item:hover {
  color: var(--secondary-3);
}

.ql-picker-item.ql-selected {
  color: var(--secondary-1);
}

/* Toolbar button states */
.ql-toolbar button:hover,
.ql-toolbar button:hover,
.ql-toolbar button:focus,
.ql-toolbar button:focus,
.ql-toolbar button.ql-active,
.ql-toolbar button.ql-active,
.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-label.ql-active,
.ql-toolbar .ql-picker-label.ql-active {
  color: var(--secondary-3);
}

.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button:focus .ql-stroke,
.ql-toolbar button:focus .ql-stroke,
.ql-toolbar button.ql-active .ql-stroke,
.ql-toolbar button.ql-active .ql-stroke,
.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-toolbar .ql-picker-label.ql-active .ql-stroke {
  stroke: var(--secondary-3);
}

.ql-toolbar button:hover .ql-fill,
.ql-toolbar button:hover .ql-fill,
.ql-toolbar button:focus .ql-fill,
.ql-toolbar button:focus .ql-fill,
.ql-toolbar button.ql-active .ql-fill,
.ql-toolbar button.ql-active .ql-fill,
.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-toolbar .ql-picker-label.ql-active .ql-fill {
  fill: var(--secondary-3);
}

.ql-formats button {
  font-family: "Linearicons-Free";
  background-color: transparent;
}

.ql-bold::before {
  content: "\e893";
}

.ql-underline::before {
  content: "\e895";
}

.ql-italic::before {
  content: "\e894";
}

.ql-strike::before {
  content: "\e896";
}

.ql-list[value="bullet"]::before {
  content: "\e871";
}

.ql-list[value="ordered"]::before {
  content: "\e872";
}

.ql-indent[value="+1"]::before {
  content: "\e89d";
}

.ql-indent[value="-1"]::before {
  content: "\e89e";
}

.ql-link::before {
  content: "\e86b";
}

.ql-clean::before {
  content: "\e891";
}

/* Links in editor */
.ql-editor a {
  color: var(--secondary-3);
}

/* Code blocks */
.ql-editor pre.ql-syntax {
  background-color: var(--neutral-2);
  color: var(--primary);
  padding: 0.5rem;
}

/* Headers in editor */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
  color: var(--primary);
  font-weight: bold;
}
