@import "admin.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Dot-Digital-7';
  src: url('/assets/fonts/dot_digital-7.ttf');
}

@font-face {
  font-family: 'VT323-Regular';
  src: url('/assets/fonts/VT323-Regular.ttf');
}

:root {
  font-size: x-large;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

@media (max-width: 480px) {
  :root {
    font-size: normal;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h1>button,
h2>button,
h3>button,
h4>button {
  text-transform: uppercase;
}

ul {
  margin: 0;
}

a:link {
  color: var(--primary);
  font-weight: normal;
}

section {
  margin: 0;
}

header>a {
  position: fixed;
  top: 24;
  left: 24;
  text-transform: uppercase;
  font-size: 1em;
}

header {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: none;
}

nav {
  z-index: 1;
}

header>*,
nav * {
  z-index: 10000;
}

nav {
  position: fixed;
  top: 24px;
  right: 24px;

  height: 24px;

  display: flex;
  align-items: end;
  flex-direction: column;
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 32px;
  margin: 0;
  padding: 0;
  width: fit-content;
  text-transform: uppercase;
}

nav>ul>li {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    height: 100%;
    width: 100%;
  }

  nav>ul {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 8px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  header {
    display: none;
  }
}

main {
  z-index: 10;
  width: 100%;
  padding: 0;
  overflow: clip;
}

header>h1 {
  font-weight: bolder;
  text-align: start;
  font-size: 1em;
}

main {
  gap: 0;
  margin-bottom: calc(var(--section-spacing) / 2);
}

footer {
  padding: 32px;
  font-variant: small-caps;
  text-transform: uppercase;
}

a {
  transition: color 100ms;
}

a:hover {
  color: var(--secondary-3);
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  font-style: italic;
  font-size: 3rem;
  line-height: 1em;
}

data,
time,
dd {
  text-transform: uppercase;
  font-variant: small-caps;
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
}

dd {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

q {
  font-family: 'VT323-Regular';
  quotes: none;
}

button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 500ms;
}

button:hover {
  color: var(--secondary-3);
}

.cta {
  text-transform: uppercase;
  text-wrap: nowrap;
  display: inline-block;
}


.cta:hover {
  color: var(--secondary-3) !important;
  box-shadow: var(--x-large-bottom-border-base) var(--secondary-3) !important;
}

.cta:any-link {
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 16px 48px;
  background: transparent !important;
  border-radius: 0.5em;
  box-shadow: var(--small-bottom-border-base) var(--primary);
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  transition: color 100ms, box-shadow 100ms;
}

@media (max-width: 480px) {
  .cta:any-link {
    padding: 16px;
  }
}


.cta-list {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.cta-list {
  height: max-content;
}

.icn::before {
  content: "";
  width: 1em;
  /* You must set size manually now */
  height: 1em;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.icn.location::before {
  mask-image: url('/assets/icons/map-pin.svg');
}

.icn.job::before {
  mask-image: url('/assets/icons/briefcase.svg');
}

.icn.education::before {
  mask-image: url('/assets/icons/book.svg');
}

#hero {
  display: flex;
  flex-direction: column;
  height: 60vh;
  gap: 8px;
  padding: 20vh 0;
  justify-content: space-around;
}

#hero>.marquee {
  display: flex;
  width: max-content;
  font-size: 12rem;
  font-family: 'VT323-Regular';
  color: var(--secondary-3);
  text-shadow: 0 0 4px var(--secondary-1), 0 0 8px var(--secondary-1), 0 0 24px var(--secondary-1);
  animation: scroll-left 5s linear infinite;
}

#hero>.margquee>div {
  position: relative;
}

#hero>.marquee>div::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px, -2px);
  color: var(--secondary-1);
  text-shadow: 0 0 4px var(--secondary-1), 0 0 16px var(--secondary-1);
}

#hero>.marquee:first-child>div:before {
  content: "Hi my name is Sami Dahoux!";
  animation: glitch 2s infinite;
}

#hero>.marquee:nth-child(2)>div:before {
  content: "I make software using passion and magic!";
  animation: glitch 3s infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes glitch {

  0%,
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }

  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }

  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}


@media (max-width: 1366px) {
  #hero>.marquee {
    font-size: 5rem;
  }
}

#about {
  width: 100%;
  padding: 10vh 16px;
  height: fit-content;
  gap: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  view-timeline-name: --about-timeline;
}

#about>div:first-child {
  flex-basis: 35%;
  overflow: hidden;
  height: 100%;
}

#about>div:first-child>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: up-down-translate linear forwards;
  animation-timeline: --about-timeline;
  animation-range: entry 0% 100%;
}

#about strong {
  font-size: 4rem;
}

#about>div:last-child {
  flex-basis: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 768px;
}

#about>div:last-child>p:first-child {
  flex-direction: column;
  gap: 0.1em;
  font-family: 'VT323-Regular';
}

#about em,
#about strong {
  content-visibility: auto;
  contain-intrinsic-size: 0 100px;
  animation: 1s linear reveal-in-secondary 1s forwards;
}

#about dd {
  content-visibility: auto;
  contain-intrinsic-size: 0 100px;
  animation: 1s linear focus-filter 2s forwards;
  filter: blur(60px);
}


@media (max-width: 926px) {
  #about {
    flex-direction: column;
  }
}

@keyframes focus-filter {
  from {
    filter: blur(60px);
  }

  to {
    filter: blur(0);
  }
}

@keyframes reveal-in-secondary {
  from {
    color: var(--primary);
  }

  to {
    color: var(--secondary-3);
  }
}

@keyframes up-down-translate {
  0% {
    transform: translateY(-200vh);
  }

  100% {
    transform: translateY(200vh);
  }
}
