/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  line-height: 1.15;
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
  margin: 0;
  /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Consolas,
    'Liberation Mono',
    Menlo,
    monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

:root {
  --primary: black;
  --accent: #5cdb95;
  --neutral-light: #eeeeee;
  --neutral: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: white;
    --accent: #5cdb95;
    --neutral-light: #222222;
    --neutral: black;
  }

}

:root {
  --medium-border: 2px solid var(--accent);
  --large-border: 4px solid var(--accent);

  --medium-inset: 2px 4px 0 var(--accent);
  --large-inset: 4px 8px 0 var(--accent);

  --base-font: "Atkinson Hyperlegible Mono", Arial;
  --footer-height: 96px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 128px;

  background: var(--neutral-light);
  color: var(--primary);
  font-family: var(--base-font);
  font-size: large;
  scroll-behavior: smooth;
}

/*** Typography ***/

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  width: fit-content;
  color: var(--accent);
  margin-bottom: var(--space-5);
  hyphens: auto;
}

h2::before {
  content: "> ";
  vertical-align: text-top;
}

h3,
h4 {
  font-size: 1.5em;
  display: flex;
  align-items: start;
  gap: var(--space-3);
  width: 100%;
  margin-bottom: var(--space-2);
}

h3::after,
h4::after {
  content: " ";
  flex: 1;
  background-image: repeating-linear-gradient(90deg,
      transparent,
      transparent 0.5ch,
      var(--accent) 0.5ch,
      var(--accent) 1ch);
  background-size: 1ch 0.1em;
  background-position: 0 0.5em;
  background-repeat: repeat-x;
  height: 1em;
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a:visited {
  color: var(--accent);
}

a:link {
  color: var(--accent);
  font-weight: normal;
  text-decoration: none;
}

a::before {
  color: var(--accent);
}

a:hover,
a:focus {
  color: var(--neutral);
  background-color: var(--primary);
  outline: none;
}

a:active {
  color: var(--neutral);
  background-color: var(--accent);
}

a:before {
  content: "@";
}

footer a::before,
nav a::before {
  content: "";
}


article .prose {
  width: min(100% 96rem);
}

article .prose p {
  margin: var(--space-3) 0;
}

article .prose ul {
  list-style-type: "- ";
  padding-left: 2ch;
  color: var(--accent);
}

article .prose ul:first-child {
  margin-bottom: var(--space-5);
}

/*** Components ***/

button {
  border: none;
  background-color: transparent;
  color: var(--accent);
  box-shadow: var(--medium-inset);
  font-weight: normal;
  cursor: pointer;
  padding: var(--space-2);
}

button:focus,
button:hover {
  background-color: var(--primary);
  color: var(--neutral);
}

button:active {
  background-color: var(--primary);
  color: var(--neutral);
  box-shadow: var(--large-inset);
}

data,
time,
dd {
  text-transform: uppercase;
  font-variant: small-caps;
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
  margin: 0;
  text-wrap: nowrap;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  display: flex;
  gap: var(--space-3);
  align-items: center;
}

label>input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  appearance: none;
}

label:has(>input) {
  user-select: none;
  cursor: pointer;
  padding: var(--space-1);
  color: var(--accent);
}

label:has(>input:focus),
label:has(>input):hover {
  background-color: var(--accent);
  color: var(--neutral-light);
}

label:has(>input:checked) {
  background-color: var(--accent);
  color: var(--neutral-light);
}

label:has(>input:focus:checked),
label:has(>input:active) {
  background-color: var(--primary);
  color: var(--neutral-light);
}

a.cta {
  display: inline-block;
  border-color: var(--accent);
  padding: var(--space-2);
  color: var(--neutral-light);
  background-color: var(--accent);
  width: fit-content;
}

a.cta:active {
  color: var(--neutral-light);
  background-color: var(--primary);
  box-shadow: var(--medium-inset);
}

a.cta:focus,
a.cta:hover {
  background-color: var(--primary);
}

a.cta::before {
  content: "";
}

a.cta:visited {
  color: var(--neutral-light);
}

.cta-list {
  padding-left: 0;
  flex-direction: row;
  align-items: start;
  justify-content: center !important;
  gap: var(--space-3);
  display: flex;
  flex-wrap: wrap;
}

.icn::before {
  vertical-align: text-top;
}

.icn.location::before {
  content: "L";
}

.icn.job::before {
  content: "C";
}

.icn.education::before {
  content: "E";
}

.marquee {
  color: var(--accent);
  display: flex;
  overflow: hidden;
  font-style: italic;
  width: 100%;
  flex-shrink: 0;
}

.marquee>* {
  animation: 10s marquee linear infinite;
  white-space: nowrap;
  padding-right: var(--space-2);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.skills {
  gap: var(--space-2);
  display: flex;
  flex-wrap: nowrap;
  animation-duration: 30s;
}

.skills li {
  display: flex;
  flex-shrink: 0;
  gap: var(--space-2);
}

.skills li::before {
  content: "//";
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.projects li {
  flex-shrink: 0;
}

.box {
  background-color: var(--neutral);
  padding: var(--space-3);
}

.box>p {
  font-style: italic;
}

.box h3,
.box h4 {
  color: var(--accent);
}

@media(min-width: 1366px) {
  .box {
    gap: var(--space-5);
    padding: var(--space-5);
  }
}

.right-screen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--space-1);
}

.right-screen label:has(>input:checked)+article {
  display: flex;
}

.right-screen article {
  order: 99;
  display: none;
  overflow: scroll;
  max-width: 100%;
}

@media(min-width: 1366px) {
  .right-screen {
    align-items: stretch;
    flex-direction: column;
    height: 70vh;
    justify-content: start;
  }

  .right-screen label {
    width: 30%;
  }

  .right-screen article {
    flex-basis: 100%;
    width: 70%;
    height: 100%;
  }
}

/*** Specific styles ***/

header {
  display: none;
  padding: var(--space-3);
  font-size: 1.5em;
  text-wrap: nowrap;
  overflow: clip;
  border-right: var(--medium-border);
  transition: 0.5s width linear;
  width: calc(2ch + var(--space-3));
}

header>label {
  padding-left: 0;
}

header>label::before {
  content: "»";
}

header>label:has(input:checked)::before {
  content: "«";
}

header:has(label>input:checked) {
  width: max-content;
}

header nav>ul {
  padding: 0;
  margin-left: 0;
}

header nav>ul>li:nth-child(1)::before {
  content: "A "
}

header nav>ul>li:nth-child(2)::before {
  content: "E "
}

header nav>ul>li:nth-child(3)::before {
  content: "P "
}

header nav>ul>li:nth-child(4)::before {
  content: "C "
}

@media(min-width: 1024px) {
  header {
    display: block;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

body>div {
  margin: 0;
  display: flex;
  height: calc(100vh - var(--footer-height));
  flex-shrink: 1;
  overflow: clip;
}

main {
  overflow-y: scroll;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  flex-shrink: 1;
}

main>section {
  margin: var(--space-3);
  overflow-x: hidden;
}

@media(min-width: 1366px) {
  main>section {
    margin: var(--space-5);
  }
}

footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-top: var(--medium-border);
  height: var(--footer-height);
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
  gap: var(--space-2);
}

footer>p {
  display: inline-block;
  margin: var(--space-2);
}

footer>address {
  display: inline-flex;
  align-items: start;
  justify-content: start;
  gap: var(--space-2);
  flex-wrap: wrap;
}

@media(min-width: 1024px) {
  :root {
    --footer-height: 64px;
  }
}



#alt-indicator {
  display: none;
  flex-shrink: 0;
  height: 100%;
  margin: var(--space-1);
  overflow-y: hidden;
  overflow-x: clip;
  width: min(10%, 256px);
  font-size: 1.5em;
  border-left: var(--medium-border);
  color: var(--accent);
}

#alt-pos {
  text-wrap: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  padding: var(--space-1);
  overflow: hidden;
}

#alt-pos>:nth-child(10n + 1) {
  border-top: var(--medium-border);
  border-bottom: var(--medium-border);
  padding: var(--space-2);
}

#alt-pos>::before {
  content: "— "
}

#alt-pos>:nth-child(10n + 1)::before {
  font-weight: bold;
}

#alt-center {
  z-index: 10;
  width: min(10%, 256px);
  position: absolute;
  border: var(--large-border);
  right: var(--space-2);
  background-color: var(--neutral);
  padding: var(--space-2);
  font-weight: bold;
  text-align: center;
  top: 50%;
  overflow: clip;
}

@media(min-width: 1024px) {
  #alt-indicator {
    display: block;
  }
}

#about>#metar {
  flex-shrink: 0;
  text-wrap: nowrap;
  padding: var(--space-2);
  margin-bottom: var(--space-5);
  display: flex;
}

#about>div:last-child {
  display: flex;
  justify-content: stretch;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}

#about>div:last-child #radar {
  flex-basis: 10%;
  flex-grow: 1;
  min-width: min(calc(100% - var(--space-3)), 480px);
  position: relative;
  margin: var(--space-2);
  align-self: center;
}

#about>div:last-child #radar .radar-svg {
  fill: var(--accent);
  overflow: visible;
}

#about>div:last-child #radar .direction-marker {
  font-size: 0.333333em;
}

#about>div:last-child #radar .aircraft-symbol {
  font-size: 0.333333em;
}

#about>div:last-child dl {
  display: grid;
  grid-template-columns: 1fr max-content;
}

#about>div:last-child dl>:first-child {
  grid-column: span 2;
}

#about>div:last-child dt {
  grid-column: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

#about>div:last-child>div:last-child {
  text-align: left;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--space-5);
  margin: var(--space-2);
  flex-basis: 20%;
  flex-grow: 1;
}


@media(min-width: 1366px) {
  #about>div:last-child>div:last-child {
    margin: var(--space-5);
    display: flex;
  }
}

#jobs article {
  flex-direction: column;
  gap: var(--space-5);
  overflow: scroll;
}

@media(min-width: 1366px) {
  #jobs .right-screen {
    height: 70vh;
  }

  #jobs .right-screen label {
    width: 20%;
  }

  #jobs .right-screen article {
    width: calc(80% - var(--space-6));
    height: 100%;
  }
}

#experiences .dates {
  align-self: end;
  text-wrap: nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
}

#experiences article>a {
  width: fit-content;
  text-transform: uppercase;
}

#experiences label {
  font-style: italic;
}

#experiences label::after {
  content: "⌄";
}

#experiences label:has(>input)~section {
  display: none;
}

#experiences label:has(>input:checked)~section {
  display: flex;
}

#experiences article {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  max-width: 1024px;
}

#experiences article>a {
  width: fit-content;
}

#experiences section {
  display: none;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--space-5);
  max-width: 100%;
  margin: var(--space-1) 0;
}

#skills>div {
  display: flex;
  gap: var(--space-5);
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills>div>div {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 100%;
}

#skills .list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
}


#skills .box {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: var(--space-3);
  margin: var(--space-1) 0;
  display: none;
}

#skills label:has(input:checked)+.box {
  display: flex;
}

#skills .box {
  padding: var(--space-3);
}

#skills .box ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  align-items: stretch;
}

#skills .box li {
  white-space: wrap;
}

#skills .box button {
  width: 100%;
}

#skills label {
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#skills .level-4 {
  font-weight: bold;
}

#projects h3 {
  flex-shrink: 1;
  width: auto;
}

#projects article>div>p:first-of-type {
  font-style: italic;
}

#projects label:has(>input:checked)+article {
  display: flex;
}

#projects .right-screen article {
  gap: var(--space-5);
  order: 0;
}

#projects article {
  flex-direction: column;
  gap: var(--space-5);
  overflow: scroll;
}

@media(min-width: 1366px) {
  #projects .right-screen article {
    order: 99;
  }

  #projects h3 {
    margin-right: var(--space-5);
  }

  #projects .right-screen {
    height: 150vh;
  }

  #projects .right-screen label {
    width: 30%;
  }

  #projects .right-screen article {
    width: calc(70% - var(--space-6));
    height: 100%;
  }
}
