@import "admin.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Dot-Digital-7';
  src: url('/assets/fonts/dot_digital-7.ttf');
}

@font-face {
  font-family: 'VT323-Regular';
  src: url('/assets/fonts/VT323-Regular.ttf');
}


:root {
  font-size: x-large;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

@media (max-width: 480px) {
  :root {
    font-size: normal;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h1>button,
h2>button,
h3>button,
h4>button {
  text-transform: uppercase;
}

ul {
  margin: 0;
}

a:link {
  color: var(--primary);
  font-weight: normal;
}

section {
  margin: 0;
  height: 100vh;
}

header>h1 {
  position: fixed;
  top: 24;
  left: 24;
}

header {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: none;
}

nav {
  z-index: 1;
}

header>*,
nav * {
  z-index: 10000;
}

nav {
  position: fixed;
  top: 24px;
  right: 24px;

  height: 24px;

  display: flex;
  align-items: end;
  flex-direction: column;
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 32px;
  margin: 0;
  padding: 0;
  width: fit-content;
  text-transform: uppercase;
}

nav>ul>li {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    height: 100%;
    width: 100%;
  }

  nav>ul {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 8px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  header {
    display: none;
  }
}

main {
  z-index: 10;
  width: 100%;
  padding: 0;
  overflow: clip;
}

header>h1 {
  font-weight: bolder;
  text-align: start;
  font-size: 1em;
}

main {
  gap: 0;
  margin-bottom: calc(var(--section-spacing) / 2);
}

footer {
  font-variant: small-caps;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 1em;
}

a {
  transition: color 100ms;
}

a:hover {
  color: var(--secondary-3);
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  font-style: italic;
  font-size: 3rem;
  line-height: 1em;
}

data,
time,
dd {
  text-transform: uppercase;
  font-variant: small-caps;
}

dl {
  display: flex;
  gap: 16px;
  margin: 0;
}

dd {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

q {
  font-family: 'VT323-Regular';
  quotes: none;
}

button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 500ms;
}

button:hover {
  color: var(--secondary-3);
}

.cta {
  text-transform: uppercase;
  text-wrap: nowrap;
}


.cta:hover {
  color: var(--secondary-3) !important;
  box-shadow: var(--x-large-bottom-border-base) var(--secondary-3) !important;
}

.cta:any-link {
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 16px 64px;
  background: transparent !important;
  border-radius: 0.5em;
  box-shadow: var(--small-bottom-border-base) var(--primary);
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  transition: color 100ms, box-shadow 100ms;
}

@media (max-width: 480px) {
  .cta:any-link {
    padding: 16px;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: auto;
  gap: 8px;
  padding: 20vh 0;
  justify-content: space-around;
  align-items: start;
  text-align: start;
  overflow: hidden;
}

#hero>.marquee {
  display: flex;
  width: max-content;
  font-size: 12rem;
  font-family: 'VT323-Regular';
  color: var(--secondary-3);
  text-shadow: 0 0 4px var(--secondary-1), 0 0 8px var(--secondary-1), 0 0 16px var(--secondary-1);
  animation: scroll-left 5s linear infinite;
}

#hero>.margquee>div {
  position: relative;
}

#hero>.marquee>div::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px, -2px);
  color: var(--secondary-1);
  text-shadow: 0 0 4px var(--secondary-1), 0 0 8px var(--secondary-1);
}

#hero>.marquee:first-child>div:before {
  content: "Hi my name is Sami Dahoux!";
  animation: glitch 2s infinite;
}

#hero>.marquee:nth-child(2)>div:before {
  content: "I make software using passion and magic!";
  animation: glitch 2s infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes glitch {

  0%,
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }

  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }

  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}

#hero ul {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  display: flex;
  align-self: center;
}

@media (max-width: 1080px) {
  #hero {
    width: 100%;
    margin: 0 16px;
  }

  #hero>div {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  #hero>div {
    font-size: 2.5em;
  }

  #hero>div {
    margin-bottom: 0;
    flex-grow: 1;
  }

  #hero ul {
    margin-bottom: 32px;
  }
}
