:root {
  --primary: #282c34;
  --secondary-3: #2525dd;
  --secondary-2: #373d96;
  --secondary-1: #5353c6;
  --neutral-2: #d7d3cb;
  --neutral-1: white;
  --danger: red;
  --warning: orange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: white;
    --secondary-3: white;
    --secondary-2: #379683;
    --secondary-1: #5cdb95;
    --neutral-2: black;
    /* #05386b; */
    --neutral-1: black;
  }
}

:root {
  --small-bottom-border-base: inset 0px -2px 0px;
  --large-bottom-border-base: inset 0px -4px 0px;
  --x-large-bottom-border-base: inset 0px -6px 0px;
  --small-border-base: inset 0px 0px 0px 2px;
  --small-bottom-border: var(--small-bottom-border-base) var(--primary);
  --large-bottom-border: var(--large-bottom-border-base) var(--primary);
  --small-border: var(--small-border-base) var(--primary);

  --medium-border: 2px solid var(--primary);

  --base-font: "Atkinson Hyperlegible Mono", Courier;
  --footer-height: 64px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 128px;

  font-family: var(--base-font);
  font-size: x-large;
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  :root {
    font-size: normal;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  width: 100%;
}

h2::before,
h2::after {
  content: "";
  flex: 1;
  background-image: repeating-linear-gradient(90deg,
      transparent,
      transparent 0.5ch,
      var(--primary) 0.5ch,
      var(--primary) 1ch);
  background-size: 1ch 0.1em;
  background-position: 0 0.5em;
  background-repeat: repeat-x;
  height: 1em;
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a:visited {
  color: var(--secondary-1);
}

a:link {
  color: var(--secondary-1);
  font-weight: normal;
  text-decoration: none;
}

a::before {
  color: var(--secondary-1);
}

a:hover,
a:focus {
  color: var(--neutral-1);
  background-color: var(--primary);
  outline: none;
}

a:active {
  color: var(--neutral-1);
  background-color: var(--secondary-1);
}


em {
  font-style: normal;
  font-weight: bold;
}

strong {
  font-style: italic;
  font-size: 2rem;
  line-height: 1em;
}

time,
dd {
  text-transform: uppercase;
  font-variant: small-caps;
}

dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
  margin: 0;
}

dd {
  margin: 0;
  display: flex;
  gap: var(--space-3);
  align-items: center;
}

q {
  quotes: none;
}

label:has(>input) {
  cursor: pointer;
  padding: var(--space-1);
  color: var(--secondary-1);
}

label:has(>input):hover {
  background-color: var(--primary);
  color: var(--neutral-2);
}

label:has(>input:checked) {
  background-color: var(--secondary-1);
  color: var(--neutral-2);
}

.cta {
  display: inline-block;
  border: var(--medium-border);
  border-color: var(--secondary-1);
  padding: var(--space-2);
  font-variant: small-caps;
  width: fit-content;
}

.cta-list {
  padding-left: 0;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: var(--space-2);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.icn::before {
  vertical-align: text-top;
}

.icn.location::before {
  content: "L";
}

.icn.job::before {
  content: "C";
}

.icn.education::before {
  content: "E";
}

.marquee {
  display: flex;
  overflow: hidden;
}

.marquee>* {
  animation: 10s marquee linear infinite;
  white-space: nowrap;
  padding-right: var(--space-2);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}



/** General layout **/
header {
  padding: var(--space-3);
  font-size: 1.5em;
  text-wrap: nowrap;
  overflow: clip;
  border-right: var(--medium-border);
}

header>label::before {
  content: "»";
}

header>label:has(input:checked)::before {
  content: "«";
}

header:has(label>input:checked) {
  width: max-content;
}

header {
  transition: 0.5s width linear;
  width: calc(2ch + var(--space-3));
}

header nav>ul {
  padding: 0;
  margin-left: 0;
}

header nav>ul>li:nth-child(1)::before {
  content: "A "
}

header nav>ul>li:nth-child(2)::before {
  content: "E "
}

header nav>ul>li:nth-child(3)::before {
  content: "P "
}

header nav>ul>li:nth-child(4)::before {
  content: "C "
}


body {
  color: var(--primary);
  background: var(--neutral-2);
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

body>div {
  margin: 0;
  display: flex;
  height: calc(100vh - var(--footer-height));
  flex-shrink: 1;
  overflow: clip;
}

main {
  overflow-y: scroll;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  flex-shrink: 1;
}

footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-top: var(--medium-border);
  height: var(--foter-height);
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
}

footer>p {
  display: block;
  margin: var(--space-2);
}

#alt-indicator {
  flex-shrink: 0;
  height: 100%;
  margin: var(--space-1);
  overflow-y: hidden;
  overflow-x: clip;
  width: min(10%, 256px);
  font-size: 1.5em;
  border-left: var(--medium-border);
}

#alt-pos {
  text-wrap: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  padding: var(--space-1);
  overflow: hidden;
}

#alt-pos>:nth-child(10n + 1) {
  border-top: var(--medium-border);
  border-bottom: var(--medium-border);
  padding: var(--space-2);
}

#alt-pos>::before {
  content: "— "
}

#alt-pos>:nth-child(10n + 1)::before {
  font-weight: bold;
}

#alt-center {
  z-index: 10;
  width: min(10%, 256px);
  position: absolute;
  border: 4px solid var(--primary);
  right: var(--space-2);
  background-color: var(--neutral-1);
  padding: var(--space-2);
  font-weight: bold;
  text-align: center;
  top: 50%;
  overflow: clip;
}

#about>#metar {
  flex-shrink: 0;
  text-wrap: nowrap;
  padding: var(--space-2);
  display: flex;
}

#about>div:last-child {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}

#about>div:last-child #radar {
  flex-basis: 10%;
  flex-grow: 1;
  min-width: min(calc(100% - var(--space-3)), 480px);
  position: relative;
  margin: var(--space-2);
}

#about>div:last-child #radar .radar-svg {
  overflow: visible;
}

#about>div:last-child #radar .direction-marker {
  fill: white;
  font-size: 0.333333em;
}

#about>div:last-child #radar .aircraft-symbol {
  fill: white;
  font-size: 0.333333em;
}

#about>div:last-child strong {
  font-style: normal;
  text-transform: uppercase;
}

#about>div:last-child dl {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
}

#about>div:last-child dt {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

#about>div:last-child>div:last-child {
  text-align: left;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--space-5);
  margin: var(--space-2);
  flex-basis: 10%;
  flex-grow: 1;
}

#jobs {
  margin: var(--space-3);
}

#jobs>h2 {
  margin-bottom: var(--space-3);
}

#jobs>div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  position: relative;
  align-items: stretch;
  justify-content: center;
  gap: var(--space-1);
}

#jobs label {
  grid-column: 1;
}

#jobs label:has(>input:checked)+article {
  display: flex;
}

#jobs article {
  order: 99;
  display: none;
  background-color: var(--neutral-1);
  border: var(--medium-border);
  padding: var(--space-2);
  margin: 0 var(--space-2);
  justify-content: stretch;
  gap: var(--space-2);
  max-width: 100%;
}

#jobs article>:first-child {
  display: none;
}

#jobs article>:last-child {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  overflow: scroll;
}

#jobs article .article {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin: 0;
  text-wrap: nowrap;
  flex-shrink: 0;
  width: max-content;
}

#jobs article .skills li {
  flex-shrink: 0;
}

#jobs article .skills {
  animation-duration: 3s;
}

@media(min-width: 1366px) {
  #jobs>div {
    flex-direction: column;
    height: 70vh;
    justify-content: start;
  }

  #jobs label {
    width: 20%;
  }

  #jobs article {
    width: calc(80% - var(--space-6));
    height: 100%;
  }
}

@media(min-width: 1366px) {
  #jobs article>:first-child {
    flex-basis: 40%;
    display: flex;
  }

  #jobs article {
    gap: var(--space-5);
    padding: var(--space-5);
    margin: 0 var(--space-5);
  }
}
